.app-view{
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  position: absolute;
  min-height: 550px;
}

.audio-player{
  display: none;
}

.pink-background{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  /*background-repeat: repeat-y;*/
  background-image: url("../assets/pink_background.png");
}

.eyes{
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 180px;
  position: absolute;
  top: 17%;
}

.eye1{
    height: 100%;
    width: 15%;
    overflow: hidden;
}

.eye2{
    height: 100%;
    width: 15%;
    overflow: hidden;
}

.crt-flashes-eye1{
  height: 180px;
  float: left;
}

.crt-flashes-eye2{
  height: 180px;
  display: none;
  float: right;
}

.crt-rainbows-eye1{
  height: 180px;
  display: none;
  float: left;
}

.crt-rainbows-eye2{
  height: 180px;
  float: right;
}

.special{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
}

.cat1{
  position: absolute;
  left: 0;
  z-index: 2;
  top: 0;
  min-height: 505px;
}

.cat2{
  position: absolute;
  right: 0;
  z-index: 2;
  top: 0;
  min-height: 505px;
}

.flowers{
  width: 100%;
  display: flex;
  -ms-align-items: flex-end;
  align-items: flex-end;
  z-index: 5;
  position: absolute;
  bottom: 0;
}

.flower1{
  left: 6%;
  z-index: 10;
  width: 100%;
  min-height: 180px;
}

.flower2{
  right: 3%;
  z-index: 10;
  width: 100%;
  min-height: 180px;
}

.bandTextDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 6;
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 500px;
}

.bandText1{
  position: absolute;
  top: 0;
  min-height: 180px;
}

.bandText2{
  position: absolute;
  min-height: 180px;
}
